@use "global" as *;
.about__layout {
  margin-top: rem(75);
  @include mq("md") {
    margin-top: rem(136);
  }
}
.about__contents::after {
  @include mq("md") {
    content: "";
    position: absolute;
    display: block;
    width: rem(194);
    height: rem(181);
    left: min(77vw, 91%);
    bottom: rem(-92);
    background-image: url(../images/common/about-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
.about__contents {
  margin: rem(53) auto 0;
  width: 100%;
  position: relative;
  @include mq("md") {
    margin-top: rem(120);
    max-width: rem(1080);
  }
}
.about__img--left {
  max-width: 37%;
  width: 100%;
  aspect-ratio: 128/194;
	position: absolute;
	top: rem(-25);
	left: 0;
	z-index: 1;
  @include mq("md") {
    max-width: rem(400);
    aspect-ratio: 400/606;
		top: rem(-80);
  }
}

.about__img--right {
  max-width: 82%;
  width: 100%;
  aspect-ratio: 281/186;
  display: block;
	margin-left: auto;
  @include mq("md") {
    max-width: rem(880);
    aspect-ratio: 880/581;
  }
}
.about__img--left img,
.about__img--right img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.about__content {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: 0;
    position: absolute;
    top: rem(124);
    left: min(rem(200),14vw);
    display: grid;
		grid-template-columns: repeat(2,1fr);
		max-width: rem(840);
		width: 100%;
		z-index: 2;
  }
}
.about__title {
  font-family: $second-font-family;
  color: $color-blue;
  font-size: rem(40);
  font-weight: $regular;
  line-height: 1;
  @include mq("md") {
    color: $color-white;
    font-size: rem(80);
    line-height: 1.25;
  }
}
.about__title span {
  text-transform: uppercase;
}
.about__wrap {
  margin-top: rem(16);
  @include mq("md") {
    margin-top: 0;
    margin-left: rem(20);
  }
}
.about__text {
  color: $color-green;
  font-weight: $regular;
  font-size: rem(16);
  @include mq("md") {
    color: $color-white;
  }
}
.about__btn {
  margin-top: rem(51);
  @include mq("md") {
    margin-top: rem(38);
  }
}
