@use "global" as *;
.campaign{
	overflow: hidden;
}
.campaign-layout {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(120);
  }
}
.campaign-splide {
  position: relative;
  margin-top: rem(28);
  margin-right: calc(50% - 50vw);
  @include mq("md") {
    margin-top: rem(38);
  }
}
.splide__track.campaign-track {
  padding-bottom: rem(10);
}
.splide__track.campaign-track,
.splide__slide.campaign-slide {
  height: auto;
}
.campaign-slide {
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
}
.campaign__item {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.campaign__img {
  aspect-ratio: 280 / 188;
  width: 100%;
  height: auto;
  @include mq("md") {
    aspect-ratio: 333 / 223;
  }
}
.campaign__img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.campaign__body {
  background-color: $color-white;
  padding: rem(18) rem(16) rem(22);
  display: flex;
  flex-direction: column;
  height: 100%;
  @include mq("md") {
    padding-top: rem(27);
    padding-bottom: rem(39);
  }
}
.campaign__wrap {
  border-bottom: 1px solid $color-blue;
  height: 100%;
}
.campaign__category {
  padding: rem(3) rem(11);
  border: 1px solid $color-blue;
  font-size: rem(12);
  font-weight: $regular;
  line-height: 1.8333;
  color: $color-blue;
  display: inline-block;
  @include mq("md") {
    padding: rem(4) rem(15);
  }
}
.campaign__title {
  margin-top: rem(4);
  color: $color-green;
  font-size: rem(16);
  font-weight: $medium;
  padding-bottom: rem(8);
	word-break: break-word;//英語でもはみ出さないようにする記述
  @include mq("md") {
    margin-top: rem(4);
  }
}
.campaign__all {
  margin-top: rem(8);
  font-size: rem(14);
  font-weight: $regular;
  line-height: 1.714;
  color: $color-green;
  text-align: center;
  @include mq("md") {
    margin-top: rem(16);
    font-size: rem(16);
    line-height: 1.5;
  }
}
.campaign__price {
  text-align: center;
  margin-top: rem(8);
}
.campaign__price span {
  font-family: $other-font-family;
  font-weight: $bold;
  line-height: 1;
}
.campaign__price span:nth-child(1) {
  position: relative;
  color: $color-green;
  font-size: rem(20);
  @include mq("md") {
    font-size: rem(24);
  }
}
.campaign__price span:nth-child(1):after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #c94800;
}
.campaign__price span:nth-child(2) {
  color: $color-blue;
  font-size: rem(32);
  margin-left: rem(16);
  @include mq("md") {
    font-size: rem(40);
    margin-left: rem(24);
  }
}
.campaign__btn {
  margin-top: rem(30);
  padding-bottom: rem(6);
	text-align: center;
  @include mq("md") {
    margin-top: rem(70);
  }
}
