@use "global" as *;
.contact {
  padding-top: rem(80);
  padding-bottom: rem(100);
  @include mq("md") {
    padding-top: rem(140);
    padding-bottom: rem(160);
  }
}
.contact__items {
  background-color: $color-white;
  position: relative;
  text-align: center;
  margin: auto;
  width: 100%;
  @include mq("md") {
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: rem(522) 1fr;
    align-items: center;
    gap: rem(44);
    padding: rem(80) rem(73) rem(76) rem(50);
    max-width: rem(1080);
  }
}
.contact__items::before {
  content: "";
  position: absolute;
  display: block;
  width: rem(109);
  height: rem(50);
  right: rem(3);
  top: rem(-23);
  background-image: url(../images/common/contact-fish.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 1;
  @include mq("md") {
    width: rem(301);
    height: rem(138);
    right: auto;
    left: min(67vw, 84%);
    top: rem(-38);
  }
}
.contact__item:nth-child(1) {
  padding-left: rem(26);
  padding-right: rem(26);
  @include mq("md") {
    padding-left: 0;
    padding-right: rem(82);
    border-right: 1px solid $color-blue;
  }
}
.contact__line {
  padding-bottom: rem(3);
  border-bottom: 1px solid $color-blue;
	box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
  @include mq("md") {
    padding-bottom: rem(2);
		box-shadow: none;
  }
}
.contact__logo {
  max-width: rem(174);
  width: 100%;
  height: auto;
  aspect-ratio: 174/65;
  display: inline-block;
  @include mq("md") {
    max-width: rem(200);
    aspect-ratio: 200/75;
  }
}
.contact__logo img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.contact__company {
  @include mq("md") {
    display: flex;
    margin-top: rem(22);
  }
}
.contact__detail {
  margin-top: rem(16);
  @include mq("md") {
    margin-top: 0;
		text-align: left;
  }
}
.contact__detail p {
  font-size: rem(16);
  font-weight: $regular;
  color: $color-green;
	text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
	@include mq('md') {
	 text-shadow: none;
	}
}
.contact__detail p:not(:first-of-type){
  margin-top: rem(4);
}
.contact__map {
  max-width: rem(295);
  width: 100%;
  height: auto;
  aspect-ratio: 295/160;
  margin: rem(16) auto 0;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  @include mq("md") {
    margin-top: 0;
    max-width: rem(273);
    aspect-ratio: 273/148;
    margin-left: rem(20);
		box-shadow: none;
  }
}
.contact__map iframe {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.contact__text {
  font-size: rem(14);
  font-weight: $regular;
  color: $color-blue;
  line-height: 1.2857;
  margin-top: rem(8);
	text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
	@include mq('md') {
	 text-shadow: none;
	}
}
.contact__btn {
  margin-top: rem(40);
}
