@use "global" as *;
.hamburger {
  z-index: 9999;
  position: relative;
  cursor: pointer;
  width: rem(32);
  height: rem(24);
	display: inline-block;
  @include mq(md) {
    display: none;
  }
}
.hamburger span {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: $color-white;
  transition: ease 0.5s;
}
.hamburger span:nth-of-type(1) {
  top: 0;
}
.hamburger span:nth-of-type(2) {
  top: rem(12);
}
.hamburger span:nth-of-type(3) {
  bottom: 0;
}
/*is-OPEN時の動き*/
.hamburger.is-open span:nth-of-type(1) {
  transform: translateY(12px) rotate(45deg);
}
.hamburger.is-open span:nth-of-type(2) {
  opacity: 0;
}
.hamburger.is-open span:nth-of-type(3) {
  transform: translateY(-12px) rotate(-45deg);
}
