@use "global" as *;
.mv-img img,
.mv-splide__slide img {
  transition: all 2s ease-in-out;
  object-fit: cover;
  width: 100%;
	height: 100%;
	@include mq('md') {
		height: 100vh;
	}
}
.mv-img--left img {
	@include mq('md') {
		object-position: right;
	}
}
.mv-img--right img {
	display: none;
	@include mq('md') {
		display: block;
		object-position: left;
	}
}
.mv-wrap {
  width: 100%;
}
.mv-img--left,
.mv-img--right {
  position: absolute;
  height: 100%;
	width: 100%;
	@include mq('md') {
		width: 50%;
	}
}
.mv{
	width: 100%;
	height: 100vh;
}
.mv-splide__slide {
  width: 100%;
  height: 100%;
	position: relative;
}
.mv-img--left {
	top: 0;
	left: 0;
	@include mq('md') {
		top: rem(300);
		left: rem(-40);
	}
}
.mv-img--right {
	top: 0;
	right: 0;
	@include mq('md') {
		top: rem(380);
		right: rem(-40);
	}
}
.mv-splide {
  width: 100%;
  height: 100%;
}
.mv__title {
  width: 100%;
}
.mv__title .text,
.mv__title .subText {
  color: $color-white;
	position: absolute;
}
.mv__title .text{
	top: 47%;
	left: 59%;
	transform: translate(-59%, -47%);
	@include mq('md') {
		top: 48%;
		left: 53%;
		transform: translate(-53%, -48%);
	}
}
.mv__title .subText{
	top: 54%;
	left: 50%;
	transform: translate(-50%, -54%);
	@include mq('md') {
		top: 57%;
		transform: translate(-50%, -57%);
	}
}