@use "global" as *;
.price {
  padding: rem(80) 0;
  background-color: #ddf0f1;
  @include mq("md") {
    padding: rem(100) 0;
  }
}

.price__wrap {
  margin: rem(28) auto 0;
  max-width: rem(480);
  width: 100%;
  position: relative;
  @include mq("md") {
    margin-top: rem(40);
    max-width: rem(1080);
    display: flex;
    flex-direction: row-reverse;
    gap: rem(93);
  }
}
.price__wrap::after {
  @include mq("md") {
    content: "";
    position: absolute;
    display: block;
    width: rem(437);
    height: rem(201);
    right: min(67%, 55vw);
    bottom: rem(-178);
    background-image: url(../images/common/price-fish.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 1;
  }
}
.price__img {
  max-width: rem(480);
  width: 100%;
  height: auto;
  aspect-ratio: 345/227;
	position: relative;
  @include mq("md") {
    max-width: rem(492);
    aspect-ratio: 492/746;
  }
}
.price__img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.price__contents {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: 0;
    width: rem(492);
  }
}
.price__content {
  color: $color-green;
}
.price__content + .price__content {
  margin-top: rem(39);
}
.price__title {
  font-size: rem(16);
  font-weight: $bold;
  padding-bottom: rem(4);
  border-bottom: 1px solid $color-blue;
}
.price__list {
  margin-top: rem(8);
  display: grid;
  grid-template-columns: 1fr rem(50);
  row-gap: rem(8);
}
.price__course,
.price__money {
  font-size: rem(14);
  font-weight: $regular;
  line-height: 1.7143;
  @include mq("md") {
    font-size: rem(16);
    line-height: 1.5;
  }
}
.price__course {
  margin-right: auto;
}
.price__money {
  margin-left: auto;
}
.price__btn {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}
