@use "global" as *;
//=====================
//ドロワーメニュー
//=====================
.sp-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: $color-blue;
  width: 100%;
  height: 0;
  z-index: 8888;
	opacity: 0;
	overflow: hidden;
  transition: opacity ease 0.3s, overflow ease 0.3s, height ease 0.3s;
  overflow-y: scroll;
  //スクロールバーを消す
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.sp-nav::-webkit-scrollbar {
  display: none;
}
.sp-nav.is-open {
	opacity: 1;
	overflow: visible;
	height: 100vh;
}
.sp-nav__items {
  padding: rem(92) rem(37) rem(111) rem(8);
  height: rem(680);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @include mq(md) {
    display: none;
  }
}
.sp-nav__item {
  padding-left: rem(29);
}
.sp-nav__item:not(:nth-child(1)):not(:nth-child(5)){
	margin-top: rem(16);
}
.sp-nav__item a,
.sp-nav__item span {
  width: 100%;
  display: block;
  padding-top: rem(12);
  padding-bottom: rem(12);
  text-align: left;
  color: $color-white;
  font-size: rem(16);
  line-height: 1.125;
}
.sp-nav__item a {
  font-weight: $bold;
  position: relative;
}
.sp-nav__item a::before {
  content: "";
  position: absolute;
  display: block;
  width: rem(18);
  height: rem(18);
  left: rem(-23);
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../images/common/drawer-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.sp-nav__item span {
  font-weight: $regular;
}
.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

