@use "global" as *;
.blog-card {
  background-color: $color-white;
  padding: rem(16) rem(16) rem(24);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  max-width: rem(480);
  width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	@include mq('md') {
	 padding-left: rem(18);
	 padding-right: rem(18);
	}
}
.blog-card:hover .blog-card__img img{
	transform: scale(1.2);
}
.blog-card__img {
  aspect-ratio: 301 / 201;
  max-width: rem(480);
  width: 100%;
  height: auto;
	overflow: hidden;
}
.blog-card__img img {
	transition: transform 0.5s ease-out;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.blog-card__info {
  padding-top: rem(24);
	padding-bottom: rem(4);
  border-bottom: 1px solid $color-blue;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.blog-card__date {
  font-size: rem(12);
  font-family: $second-font-family;
  font-weight: $regular;
}
.blog-card__title {
  font-size: rem(16);
  font-weight: $medium;
}
.blog-card__text {
  font-size: rem(16);
  font-weight: $regular;
  margin-top: rem(16);
}
.blog-card__title,
.blog-card__text,
.blog-card__date {
  color: $color-green;
}
