@use "global" as *;
.section-header {
  text-align: center;
}
.section-header__title {
  font-family: $second-font-family;
  font-weight: $regular;
}
.section-header__title::first-letter {
  text-transform: uppercase;
}
.section-header__title--green::first-letter {
  color: $color-blue;
}
.section-header__title--green {
  color: $color-green;
}
.section-header__title--white::first-letter {
  color: $color-blue;
  @include mq("md") {
    color: #ddf0f1;
  }
}
.section-header__title--white {
  color: $color-green;
  @include mq("md") {
    color: $color-white;
  }
}
.section-header__title--small {
  font-size: rem(32);
  line-height: 1.25;
  @include mq("md") {
    font-size: rem(40);
    line-height: 1.1;
  }
}
.section-header__title--big {
  font-size: rem(80);
  line-height: 0.8;
  margin-top: rem(40);
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
  @include mq("md") {
    text-shadow: none;
    margin-top: 0;
  }
}
.section-header__subtitle--big{
	text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
	@include mq('md') {
	 text-shadow: none;
	}
}
.section-header__subtitle {
  color: $color-blue;
  font-size: rem(12);
  font-weight: $regular;
}
.section-header__subtitle--white {
  @include mq("md") {
    color: $color-white;
  }
}
