@use "global" as *;
.section-header {
  text-align: center;
}
.section-header__subTitle {
  font-family: $second-font-family;
  font-weight: $regular;
  display: block;
  color: $color-green;
  font-size: rem(32);
  line-height: 1.25;
  @include mq("md") {
    font-size: rem(40);
    line-height: 1.1;
  }
}
.section-header__subTitle::first-letter {
  text-transform: uppercase;
  color: $color-blue;
}
.section-header__subTitle--white::first-letter {
  color: $color-blue;
  @include mq("md") {
    color: #ddf0f1;
  }
}
.section-header__subTitle--white {
  color: $color-green;
  @include mq("md") {
    color: $color-white;
  }
}
.section-header__subTitle--big {
  font-size: rem(80);
  line-height: 0.8;
  margin-top: rem(40);
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
  @include mq("md") {
	font-size: rem(80);
    text-shadow: none;
    margin-top: 0;
  }
}
.section-header__title--big {
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
  @include mq("md") {
    text-shadow: none;
  }
}
.section-header__title {
  color: $color-blue;
  font-size: rem(12);
  font-weight: $regular;
  margin-top: rem(4);
  @include mq("md") {
    margin-top: rem(5);
  }
}
.section-header__title--white {
  @include mq("md") {
    color: $color-white;
  }
}
